.mat-tab-link {
    flex: auto;    
    color: rgb(255, 255, 255); 
}

.mat-tab-nav-bar{
    background-color: rgba(148, 74, 52, 0.9);
}

agm-map {
    height: 300px;
    width: 40%;
    position: relative;
    left: 55%;
}