<div class="container">
    <div class="search">

        <input type="text" matInput placeholder="Search by name" [(ngModel)]="searchTerm" />

        <div class="price-search">
            <p> Search by price </p>
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options">
            </ng5-slider>
        </div>

        <div class="rate-search">
            <p> Search by rating </p>
            <ng5-slider [(value)]="rateValue" [options]="rateOptions"></ng5-slider>
        </div>

        <div *ngFor="let filter of filters">
            <mat-checkbox> {{ filter }} </mat-checkbox>
        </div>
        <!-- <div *ngIF="isAdmin>search for stocknumber</div>-->

    </div>
    <div class="border"> </div>
    <div *ngIf="router.url==='/products'" class="products">
        <a [routerLink]="['/products', 'add']" mat-flat-button *ngIf="authService.isEmployee" class="add-new-product"
            alt="Add product">
            <mat-icon>add</mat-icon> Add new product
        </a>
        <div *ngFor="let product of products" class="sub-products">
            <div *ngFor="let pr of product | productFilter:searchTerm | priceFilter:value:highValue">
                <mat-card>
                    <button mat-button (click)="openSingleProductPage(pr)">
                        <mat-card-header>
                            <mat-card-title>
                                <p style="font-size:90%">
                                    {{ pr.name }}
                                </p>
                            </mat-card-title>
                            <mat-card-subtitle>
                                <p style="font-size:85%">
                                    {{ pr.price }} euro
                                </p>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="{{pr.img}}" class="image" alt="BC">
                    </button>
                    <mat-card-actions class="mat-card-actions" *ngIf="authService.isEmployee">
                        <div>
                            <a [routerLink]="['/products', 'modify']" (click)="openEdit(pr)" mat-flat-button
                                class="buttons" alt="Edit product">
                                <mat-icon style="width:5px;height:5px">edit</mat-icon>
                            </a>
                        </div>
                        <div>
                            <a (click)="delete(pr)" mat-flat-button class="buttons"
                                alt="Delete product">
                                <mat-icon style="width:5px;height:5px">delete</mat-icon>
                            </a>
                        </div>

                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="products" *ngIf="router.url==='/products/kitchen' || router.url==='/products/livingroom' 
    || router.url==='/products/bathroom' || router.url==='/products/bedroom' || 
    router.url==='/products/techs'">
        <div *ngFor="let product of products | productFilter:searchTerm | priceFilter:value:highValue ">
            <mat-card>
                <button mat-button (click)="openSingleProductPage(product)">
                    <mat-card-header>
                        <mat-card-title>
                            <p style="font-size:90%">
                                {{ product.name }}
                            </p>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <p style="font-size:85%">
                                {{ product.price }} euro
                            </p>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{product.img}}" class="image" alt="BC">
                </button>
                <mat-card-actions *ngIf="authService.isEmployee" class="mat-card-actions">
                    <div>
                        <a [routerLink]="['/products', 'modify']" (click)="edit(product)" mat-flat-button
                            class="buttons" alt="Edit product">
                            <mat-icon style="width:5px;height:5px">edit</mat-icon>
                        </a>
                    </div>
                    <div>
                        <a [routerLink]="['/products', 'delete']" mat-flat-button class="buttons" alt="Delete product">
                            <mat-icon style="width:5px;height:5px">delete</mat-icon>
                        </a>
                    </div>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>