<div class="container">
    <div class="search">

        <input type="text" matInput placeholder="Search by name" [(ngModel)]="searchTerm" />

        <div class="price-search">
            <p> Search by price </p>
            <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options">
            </ng5-slider>
        </div>

        <div class="rate-search">
            <p> Search by rating </p>
            <ng5-slider [(value)]="rateValue" [options]="rateOptions"></ng5-slider>
        </div>

        <div *ngFor="let filter of filters">
            <mat-checkbox> {{ filter }} </mat-checkbox>
        </div>
        <!-- <div *ngIF="isAdmin>search for stocknumber</div>-->

    </div>
    <div class="border"> </div>
    <div *ngIf="router.url==='/products'" class="products">
        <div *ngFor="let product of products" class="sub-products">
            <div *ngFor="let pr of product | productFilter:searchTerm | priceFilter:value:highValue ">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title (click)="openSingleProductPage(pr)">{{ pr.name }}</mat-card-title>
                        <mat-card-subtitle>{{ pr.price }} euro</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="{{pr.img}}" class="image" alt="BC">
                </mat-card>
            </div>
        </div>
    </div>
    <div class="products" *ngIf="router.url==='/products/kitchen' || router.url==='/products/livingroom' 
    || router.url==='/products/bathroom' || router.url==='/products/bedroom' || 
    router.url==='/products/techs'">
        <div *ngFor="let product of products | productFilter:searchTerm | priceFilter:value:highValue ">
            <mat-card>
                <mat-card-header>
                    <mat-card-title (click)="openSingleProductPage(product)">{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>{{ product.price }} euro</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{product.img}}" class="image" alt="BC">
            </mat-card>
        </div>
    </div>

</div>