<mat-tab-group>
  <mat-tab label="Kitchen">
    <ng-template matTabContent>
      <p>all orders here</p>
    </ng-template>
  </mat-tab>

  <span class="spacer"></span>

  <mat-tab label="Living room">
    <ng-template matTabContent>
      <p>to deliver</p>
    </ng-template>
  </mat-tab>

  <span class="spacer"></span>

  <mat-tab label="Bedroom">
    <ng-template matTabContent>
      <p>delivered</p>
    </ng-template>
  </mat-tab>

  <span class="spacer"></span>

  <mat-tab label="Bathroom">
    <ng-template matTabContent>
      <p>delivered</p>
    </ng-template>
  </mat-tab>

  <span class="spacer"></span>

  <mat-tab label="Technical products(?)">
    <ng-template matTabContent>
      <p>delivered</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>
