<mat-tab-group>
  <mat-tab label="Availability info">
    <!--<mat-icon>contact_support</mat-icon>-->
    <ng-template matTabContent>
      <p>adasdfsdf</p>
    </ng-template>
  </mat-tab>

  <span class="spacer"></span>

  <mat-tab label="Apply for job">
    <!--<mat-icon>accessibility_new</mat-icon>-->
    <ng-template matTabContent>
      <p>to deliver</p>
    </ng-template>
  </mat-tab>

  <span class="spacer"></span>

  <mat-tab label="Send note about the website">
   <!-- <mat-icon>chat_bubble</mat-icon>-->
    <ng-template matTabContent>
      <p>delivered</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>