<div class="main-container">
  <div class="info-text">
    <h1>Contact</h1>
    <p class="sub-text">
      <mat-icon>phone</mat-icon>06/30-24-34-542
    </p>
    <p class="sub-text">
      szandi<mat-icon>alternate_email</mat-icon>asdsd.com
    </p>
  </div>
  <!--https://developers.google.com/maps/documentation/javascript/adding-a-google-map
  and https://angular-maps.com/guides/getting-started/-->
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map:
  <div class="container">
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>--> 
</div>



<p>TODO: photo from the street
</p>