<!--<nav mat-tab-nav-bar headerPosition="below">
  <a mat-tab-link class="mat-tab-link" *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>-->

<p>TODO: read headers from server</p>

<mat-list>
  <h3>Engineering Jobs</h3>
  <div *ngFor="let job of jobs">
    <div *ngIf="job.name=='engineeringJob'">
      <mat-list-item>
        <mat-icon mat-list-icon>code</mat-icon>
        <h4 mat-line>{{job.description}}</h4>
      </mat-list-item>
    </div>
  </div>
  <h3>Project Managemant</h3>
  <div *ngFor="let job of jobs">
    <div *ngIf="job.name=='projectManagemant'">
      <mat-list-item>
        <mat-icon mat-list-icon>face</mat-icon>
        <h4 mat-line>{{job.description}}</h4>
      </mat-list-item>
    </div>
  </div>
</mat-list>