form{
    align-items: center;
    display: flex;
    flex-direction: column;    
}


.mat-form-field {
    text-align: left;
    color: white;
    width: 40%;
}

.mat-form-field .input {
    border-color: white
}

.send {
    color: white;
    background-color: rgb(255, 98, 50);
    width: 10%;
}


