.container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.container .mat-drawer{
    min-width:150px;
}

.container .header{
    color: rgb(93, 99, 75);
    justify-content: center;
    background: rgba(184, 230, 139, 0.795);
}

.container .mat-drawer .mat-button{
    display: block;
    width: 100%;
    text-align: left;
}

.container .sidenav{
    color: rgb(164, 216, 113);
}

.container .sidenav-content .menu-panel{
    background: rgb(151, 214, 87);
}

.spacer {
    flex: auto; /*same as 1 1 auto*/
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url("/assets/images/flowers.jpg");/*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/flowers.jpg");*/

    /* Set a specific height */
    height: 40%;
    width: 100%;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-20%, -10%);
    color: rgb(112, 235, 101);
  }

  .hero-text .sub-text{
    color: rgb(100, 230, 117);
    background-color: rgba(97, 141, 87, 0.3);
    display: run-in
  }

  ::-webkit-scrollbar{
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
