<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container class="container" autosize>
  <mat-toolbar class="header"> Welcome to {{ title }}! </mat-toolbar>
  <mat-drawer #drawer class="sidenav" position="end">
    <button mat-button routerLink="/login"> Login </button>
    <button mat-button routerLink="/profile" disabled> Profile </button>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar class="menu-panel">
      <mat-toolbar-row>

        <button mat-icon-button routerLink="/home">
          <mat-icon>house</mat-icon>
          <span>Home</span>
        </button>


        <span class="spacer"></span>


        <button mat-icon-button routerLink="/products">
          <mat-icon>store</mat-icon>
          <span>Products</span>
        </button>


        <span class="spacer"></span>


        <button mat-icon-button routerLink="/forum">
          <mat-icon>question_answer</mat-icon>
          <span>Forum</span>
        </button>



        <span class="spacer"></span>


        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>alternate_email</mat-icon>
            <span>Connect</span>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/availability">
              <mat-icon>contact_support</mat-icon>
              <span>Availability info</span>
            </button>
            <button mat-menu-item routerLink="/job">
                <mat-icon>accessibility_new</mat-icon>
                <span>Apply for job</span>
              </button>
            <button mat-menu-item routerLink="/note">
              <mat-icon>chat_bubble</mat-icon>
              <span>Send note about the website</span>
            </button>
          </mat-menu>


        <span class="spacer"></span>


        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>settings</mat-icon>
        </button>


  
  
  
      

      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>