.container {
    width:  85%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

/*.container .a .b .c*/ .mat-card{
    max-width: 200px;
    max-height: 400px;
    color:rgb(99, 89, 75);
    position: relative;
    text-align: left;
    margin: 10px;
    box-shadow: 4px 2px 10px;   
}

.mat-card-title {
    color: rgb(93, 99, 75);
    position: relative;
    text-align: left;
    flex: auto;
}

.image{
    max-height: 150px;
    text-align: center
}

.mat-card-subtitle {
    color: rgb(93, 99, 75);
    font-size: small;
}

a:link, a:visited {
    color: rgb(128, 143, 82);
    text-decoration: none;
  }
  
a:hover, a:active {
    color: rgb(93, 99, 75);;
  }

.content {
    color: rgb(93, 99, 75);
    height: 52px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.mat-card-actions {
    /*display:flex;*/
    color: rgb(93, 99, 75);
    flex:auto;
}

