<p>TODO: fix like and message button
</p>

<div class="container">
  <div *ngFor="let user of users" class="a">
    <div *ngIf="user.role as r"class="b">
      <div *ngIf="r === 'ROLE_OWNER'" class="c">
        <mat-card class="mat-card">
          <mat-card-header>
            <mat-card-title>{{ user.username }}</mat-card-title>
            <mat-card-subtitle><a href="{{user.reference}}">YouTube</a></mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{user.img}}" class="image" alt="BC">
          <mat-card-content class="content">
            <p>{{ user.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)=rate()>RATE</button>
            <button mat-button (click)=message(user.email)>
              <mat-icon>email</mat-icon>
              MESSAGE
            </button>
          </mat-card-actions>
        </mat-card>
        <!-- <button mat-icon-button (click)="getIssues(link)">
        <mat-icon>delete</mat-icon>
      </button>-->
      </div>
    </div>
  </div>
</div>



<!--<nav mat-tab-nav-bar headerPosition="below">
  <a mat-tab-link class="mat-tab-link" *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive
    #rla="routerLinkActive" [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>
<router-outlet></router-outlet>-->

<!--TODO: spacer:auto
          the smallest pictures should be the right pictures
          import from sql
          like and message buttons should get link
-->

<!--
<div class="container">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Big Chungus</mat-card-title>
      <mat-card-subtitle>https://www.youtube.com/watch?v=YFXlzKDjL8E</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/img1.png" class="image" alt="BC">
    <mat-card-content class="content" *ngIf="collapsed1">
      <p>He is sooo funny.</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!collapsed1">
      <button mat-button (click)="collapsed1=true">Több</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button (click)=rate()>RATE</button>
      <button mat-button (click)=message()>
        <mat-icon>email</mat-icon>
        MESSAGE
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Mustache Man</mat-card-title>
      <mat-card-subtitle>https://www.youtube.com/watch?v=YFXlzKDjL8E</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/img2.jpg" class="image" alt="BC">
    <mat-card-content class="content" *ngIf="collapsed2">
      <p>He is sooo funny.</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!collapsed2">
      <button mat-button (click)="collapsed2=true">Több</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button (click)=rate()>RATE</button>
      <button mat-button (click)=message()>
        <mat-icon>email</mat-icon>
        MESSAGE
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Weird Woman</mat-card-title>
      <mat-card-subtitle>https://twitter.com/hashtag/weirdo</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/img3.jpg" class="image" alt="BC">
    <mat-card-content class="content">
      <p>He is sooo funnyjnfkj nfkjas gnjkasb gkadbgdkafhbghd fabghl fabgdjfbjad fljgkrskaljgbrjks ahlkjabgkl
        fdjagblkfdjabgl kdfajbgldkfagbl fdabl hdafbgkhbaed lghbrwlgbl krejabgraebgb.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)=rate()>RATE</button>
      <button mat-button (click)=message()>
        <mat-icon>email</mat-icon>
        MESSAGE
      </button>
    </mat-card-actions>
  </mat-card>
</div>

-->