.dialog{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.dialog .input-field {
    text-align: left;
    width: 95%;
    color: rgb(93, 99, 75);
}

.cancel {
    color: rgb(255, 98, 50);
    background-color: rgb(236, 243, 229);
}

.send {
    color: white;
    background-color: rgb(255, 98, 50);
}